<div class="MacbookPro142" style="width: 1512px; height: 997px; position: relative; background: rgba(217, 217, 217, 0.29)">
    <div class="Component4" style="width: 1536px; height: 982px; left: -24px; top: 4px; position: absolute">
      <div class="Line42" style="width: 982px; height: 0px; left: 213px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(240.39, 231.18, 10.02, 0.69) solid"></div>
      <div class="Line49" style="width: 1514px; height: 0px; left: 0px; top: 200px; position: absolute; border: 1px black solid"></div>
      <div class="Line50" style="width: 1524px; height: 0px; left: 0px; top: 200px; position: absolute; border: 1px black solid"></div>
      <div class="Line53" style="width: 1524px; height: 0px; left: 0px; top: 800px; position: absolute; border: 1px rgba(65.75, 252.88, 0, 0.71) solid"></div>
      <div class="Line52" style="width: 1524px; height: 0px; left: 12px; top: 600px; position: absolute; border: 1px rgba(255, 116, 23, 0.74) solid"></div>
      <div class="Line51" style="width: 1524px; height: 0px; left: 12px; top: 400px; position: absolute; border: 1px rgba(14.62, 10.02, 240.39, 0.63) solid"></div>
      <div class="Line48" style="width: 982px; height: 0px; left: 1412.06px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(240.39, 10.02, 10.02, 0.66) solid"></div>
      <div class="Line47" style="width: 982px; height: 0px; left: 1213.06px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(240.39, 231.18, 10.02, 0.69) solid"></div>
      <div class="Line46" style="width: 982px; height: 0px; left: 1012.06px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(65.75, 252.88, 0, 0.71) solid"></div>
      <div class="Line45" style="width: 982px; height: 0px; left: 813.06px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(65.75, 252.88, 0, 0.71) solid"></div>
      <div class="Line44" style="width: 982px; height: 0px; left: 612.06px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(14.62, 10.02, 240.39, 0.63) solid"></div>
      <div class="Line43" style="width: 982px; height: 0px; left: 413.06px; top: 0px; position: absolute; transform: rotate(90.06deg); transform-origin: 0 0; border: 1px rgba(240.39, 10.02, 10.02, 0.66) solid"></div>
      <div class="Line54" style="width: 1524px; height: 0px; left: 0px; top: 200px; position: absolute; border: 1px rgba(240.39, 231.18, 10.02, 0.69) solid"></div>
    </div>
    <div class="Group9" style="padding-left: 67px; padding-right: 67px; left: 550px; top: 5px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div class="Group8" style="width: 351px; height: 198.75px; position: relative">
        <div class="Rectangle12" style="width: 59.24px; height: 194.05px; left: 175.50px; top: 3.79px; position: absolute; background: #FFC0CB"></div>
        <div class="Rectangle8" style="width: 59.24px; height: 197.18px; left: 0px; top: 0px; position: absolute; background: rgba(240.39, 10.02, 10.02, 0.66)"></div>
        <div class="Rectangle10" style="width: 59.24px; height: 100.16px; left: 58.50px; top: 98.59px; position: absolute; background: rgba(65.75, 252.88, 0, 0.71)"></div>
        <div class="Rectangle11" style="width: 59.24px; height: 122.07px; left: 117px; top: 75.84px; position: absolute; background: rgba(255, 116, 23, 0.74)"></div>
        <div class="Rectangle9" style="width: 59.24px; height: 172.15px; left: 234px; top: 26.54px; position: absolute; background: rgba(240.39, 231.18, 10.02, 0.69)"></div>
        <div class="Rectangle13" style="width: 58.50px; height: 98.59px; left: 292.50px; top: 98.59px; position: absolute; background: rgba(14.62, 10.02, 240.39, 0.63)"></div>
      </div>
      <div class="InWard" style="width: 485px; height: 123px; left: 3px; top: 75px; position: absolute; color: black; font-size: 128px; font-family: Jura; font-weight: 700; word-wrap: break-word">In.warD</div>
    </div>
    <div class="Component2" style="left: 517px; top: 235px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 44px; display: inline-flex">
      <div class="TrackYourEmotionsWithAi" style="width: 725px; height: 152px; color: black; font-size: 64px; font-family: Jura; font-weight: 700; word-wrap: break-word">Track your emotions<br/>            with AI<br/></div>
      <div class="GetNotifiedWhenTheAppIsLaunched" style="width: 591px; height: 152px; text-align: center; color: black; font-size: 48px; font-family: Jura; font-weight: 500; word-wrap: break-word">Get notified when the    app is launched<br/></div>
    </div>
    <div class="Component3" style="width: 767.67px; height: 82px; left: 466px; top: 633px; position: absolute; background: white; border-radius: 20px; overflow: hidden; border: 0.50px black solid">
      <div class="EmailAdress" style="width: 288px; height: 38px; left: 0px; top: 22px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jura; font-weight: 400; word-wrap: break-word">Email adress</div>
      <div class="Rectangle46" style="width: 302.67px; height: 64px; left: 453px; top: 9px; position: absolute; background: rgba(240.39, 231.18, 10.02, 0.69); border-radius: 20px; border: 2px black solid"></div>
      <div class="JoinOurWaitlist" style="width: 244.08px; height: 30.63px; left: 453px; top: 26px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Jura; font-weight: 700; word-wrap: break-word">Join our Waitlist</div>
    </div>
    <div style="width: 93px; height: 35px; left: 202px; top: 361px; position: absolute; color: black; font-size: 24px; font-family: Jura; font-weight: 500; word-wrap: break-word">80 %</div>
    <div class="Baguel" style="width: 356px; left: 44px; top: 69px; position: absolute; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
      <div class="Ellipse62" style="width: 356px; height: 331px; background: rgba(255, 116, 23, 0.74); border-radius: 9999px"></div>
      <div class="Ellipse63" style="width: 260px; height: 243px; left: 48px; top: 44px; position: absolute; background: white; border-radius: 9999px"></div>
      <div class="Vector3" style="width: 124px; height: 105.94px; left: 27.96px; top: 1.31px; position: absolute; transform: rotate(2.99deg); transform-origin: 0 0; background: #FFC0CB; border: 0.10px rgba(65.75, 252.88, 0, 0.71) solid"></div>
      <div class="Vector4" style="width: 222px; height: 136px; left: 129px; top: 0px; position: absolute; background: rgba(65.75, 252.88, 0, 0.71); border: 0.10px rgba(65.75, 252.88, 0, 0.71) solid"></div>
      <div style="width: 93px; height: 34px; left: 55px; top: 45px; position: absolute; color: black; font-size: 24px; font-family: Jura; font-weight: 500; word-wrap: break-word">5 %</div>
      <div style="width: 92px; height: 36px; left: 226px; top: 24px; position: absolute; color: black; font-size: 24px; font-family: Jura; font-weight: 500; word-wrap: break-word">15 %</div>
      <div class="Excited" style="width: 160px; height: 48px; left: 119px; top: 151px; position: absolute; color: black; font-size: 36px; font-family: Jura; font-weight: 700; word-wrap: break-word">Excited</div>
    </div>
    <div class="Component5" style="width: 1512px; height: 325px; left: 0px; top: 673px; position: absolute">
      <div class="Rectangle44" style="width: 1512px; height: 62px; left: 0px; top: 260px; position: absolute; background: rgba(14.62, 10.02, 240.39, 0.63)"></div>
      <div class="Rectangle16" style="width: 58px; height: 324px; left: 44px; top: 0px; position: absolute; background: #FFC0CB"></div>
      <div class="Rectangle17" style="width: 59px; height: 155px; left: 102px; top: 170px; position: absolute; background: rgba(240.39, 10.02, 10.02, 0.66)"></div>
      <div class="Rectangle18" style="width: 58px; height: 227px; left: 1299px; top: 98px; position: absolute; background: rgba(14.62, 10.02, 240.39, 0.63)"></div>
      <div class="Rectangle19" style="width: 57px; height: 204px; left: 1357px; top: 120px; position: absolute; background: rgba(65.75, 252.88, 0, 0.71)"></div>
      <div class="Rectangle20" style="width: 59px; height: 283px; left: 1415px; top: 42px; position: absolute; background: rgba(255, 116, 23, 0.74)"></div>
      <div class="Rectangle21" style="width: 58px; height: 227px; left: 161px; top: 97px; position: absolute; background: rgba(240.39, 231.18, 10.02, 0.69)"></div>
      <div class="Disgust" style="width: 186px; height: 43px; left: 1360px; top: 307px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); font-size: 40px; font-family: Jura; font-weight: 700; word-wrap: break-word">DISGUST</div>
      <div class="Happy" style="width: 161px; height: 39px; left: 168px; top: 307px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); font-size: 40px; font-family: Jura; font-weight: 700; word-wrap: break-word">HAPPY</div>
      <div class="Excited" style="width: 178px; height: 38px; left: 1425px; top: 306px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); font-size: 40px; font-family: Jura; font-weight: 700; word-wrap: break-word">EXCITED</div>
      <div class="Sad" style="width: 116px; height: 42px; left: 1307px; top: 306px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); font-size: 40px; font-family: Jura; font-weight: 700; word-wrap: break-word">SAD</div>
      <div class="Surprise" style="width: 236px; height: 59px; left: 40px; top: 314px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); font-size: 48px; font-family: Jura; font-weight: 700; word-wrap: break-word">Surprise</div>
      <div class="Angry" style="width: 137px; height: 55px; left: 106px; top: 307px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); font-size: 40px; font-family: Jura; font-weight: 700; word-wrap: break-word">ANGRY<br/></div>
    </div>
    <div class="Arrow1" style="width: 34px; height: 0px; left: 1166px; top: 674px; position: absolute; border: 4px black solid"></div>
    <div class="ContactUs" style="width: 288px; height: 38px; left: 265px; top: 948px; position: absolute; text-align: center; color: white; font-size: 32px; font-family: Jura; font-weight: 700; word-wrap: break-word">Contact us:</div>
    <div class="EntypoSocialInstagramWithCircle" style="width: 55px; height: 55px; left: 695px; top: 936px; position: absolute">
      <div class="Vector" style="width: 52.80px; height: 52.80px; left: 1.10px; top: 1.10px; position: absolute; background: white"></div>
    </div>
    <div class="EntypoSocialLinkedinWithCircle" style="width: 55px; height: 55px; left: 773px; top: 936px; position: absolute">
      <div class="Vector" style="width: 52.80px; height: 52.80px; left: 1.10px; top: 1.10px; position: absolute; background: white"></div>
    </div>
    <div class="EntypoSocialFacebookWithCircle" style="width: 55px; height: 55px; left: 849px; top: 936px; position: absolute">
      <div class="Vector" style="width: 52.80px; height: 52.80px; left: 1.10px; top: 1.10px; position: absolute; background: white"></div>
    </div>
  </div>